body{
    background-color: black;
}
.q{
    color: gray;
}
.e{
    color: gray;
}
.r{
    color:  gray;
}
.k{
    color: white;
}
.va{
    color: aliceblue;
}
.ba{
    color: gray;
}
.na{
    color:  gray    ;
}
.ma{
    color: aliceblue;
}
.ca{
    color: gray;
}
.ya{
    color: aliceblue;
}